<!DOCTYPE html>
<html lang="en" prefix="og:http://ogp.me/ns#">

  <head>
    <title>Greenwood Demo - GitHub Pages</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/greenwood-demo-github-pages/favicon.ico"/>
    <link rel="icon" href="/greenwood-demo-github-pages/favicon.ico"/>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro">
    <link rel="stylesheet" href="../styles/main.css">
  </head>

  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/greenwood-demo-github-pages/">Home</a> | </li>
          <li><a href="/greenwood-demo-github-pages/about/">About</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <h1>Demos</h1>
      <p>This is a
        <a href="https://github.com/ProjectEvergreen/greenwood-demo-github-pages" title="Link to demonstration repo">Greenwood demonstration repo</a>
        showcasing a static site deployed to GitHub Pages.
      </p>
      <page-outlet></page-outlet>
    </main>

    <footer>
      <a href="https://www.greenwoodjs.io/">Greenwood</a>
    </footer>

  </body>

</html>
